* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e3e3e3;
  z-index: -4;
}

.app {
  display: block;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 412px;
  height: 100vh;
  background-image: url(/images/ArtDeco_Backgroundv2.svg);
  background-color: linear-gradient(#407abf, #759fd1, #407abf);
  border-radius: 20px;
  overflow: hidden;
  z-index: -1;
}

.header-ctnt {
  position: fixed;
  margin-top: 0;
  padding-top: 1em;
  height: 12vh;
  max-width: 412px;
  text-align: center;
  z-index: 2;
}

span {
  max-width: 412px;
  height: 30px;
  display: inline;
}

span #search {
  margin-right: 300px;
}

h1 {
  margin: 0 1em 2em 1em;
  display: inline;
  position: relative;
  color: #407abf;
  width: 300px;
  font-family: casablanca-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.5em;
  z-index: 3;
}

.header-bkgd {
  background-color: rgba(204, 182, 116, 0.92);
  margin-top: 0;
  padding-top: 0;
  border-radius: 20px 20px 0 0;
  position: fixed;
  height: 13vh;
  width: 412px;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

main.container {
  margin: 12vh 0 0 0;
  padding: 0;
  height: 79vh;
  overflow: hidden;
  z-index: initial;
}

.scroll-ctnt {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  position: relative;
  height: 79vh;
  color: #fff;
  width: 300px;
  font-family: casablanca-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  overflow: scroll;
  z-index: 1;
}

.scroll-ctnt h2 {
  font-size: 4em;
  text-align: center;
  text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.scroll-ctnt .home {
  margin: 3em auto;
  background-color: rgba(204, 182, 116, 0.92);
  color: #fff;
  border-radius: 5px;
  width: 250px;
  height: 100px;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
  font-family: europa, sans-serif;
  font-weight: 700;
  font-style: normal;
  z-index: 3;
}

.scroll-ctnt p {
  padding: 1.5em;
  text-align: center;
  text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.scroll-ctnt img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 0 0.5em 0;
}

.scroll-ctnt h3 {
  text-align: center;
  text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: europa, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
}

.scroll-ctnt a {
  text-decoration: none;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

nav {
  top: 0;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  height: 100vh;
  background: rgba(204, 182, 116, 0.92);
  width: 412px;
  border-radius: 20px;
  visibility: hidden;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 3;
}

.open-nav {
  visibility: unset;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.exit {
  height: 2em;
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 2em;
  font-family: europa, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  color: #fff;
  text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  list-style-type: none;
}

ul li {
  line-height: 1.25em;
  padding: 1.5em;
  border-bottom: 2px solid #fff;
}

ul a {
  text-decoration: none;
  color: #fff;
}

footer {
  background-color: rgba(204, 182, 116, 0.92);
  bottom: 0;
  padding-bottom: 0;
  border-radius: 0 0 20px 20px;
  position: fixed;
  height: 9vh;
  width: 412px;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

footer p {
  color: #fff;
  font-family: casablanca-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.scroll-ctnt2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  position: relative;
  height: 79vh;
  color: #fff;
  width: 300px;
  font-family: casablanca-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  overflow: scroll;
  z-index: 1;
}

.scroll-ctnt2 h2 {
  padding-top: 1em;
  font-size: 4em;
  text-align: center;
  text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.scroll-ctnt2 .cards {
  margin: 3em auto;
  background-color: #fff;
  border-radius: 5px;
  width: 250px;
  height: 200px;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
  font-family: europa, sans-serif;
  font-weight: 200;
  font-style: normal;
  z-index: 3;
}

.scroll-ctnt2 h3 {
  padding: .25em 1em;
  text-align: left;
  color: #407abf;
  font-family: europa, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
  border-bottom: 2px #ccb674 dotted;
}

.scroll-ctnt2 p {
  padding: .25em 1.5em;
  text-align: left;
  line-height: 1.5em;
  color: #707070;
}

.scroll-ctnt2 a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */